{% extends 'base.html' %}
{% block title %}Affiliated Clinical Trials List{% endblock %}
{% block additional_buttons %}<li><a href="{% url 'clinical_trial_creation' %}">Create Clinical Trial</a></li>{% endblock %}
{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Affiliated Clinical Trials</h2>
        <p>All the Clinical Trials affiliated with your affiliated Institution.</p>
      </div>

      <div class="row">
        {% for obj in page_obj %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <p>Title {{ obj.title }}</p>
        <p>Drug <a href="{% url 'drug_details' pk=obj.drug.pk %}">{{ obj.drug.proprietary_name }}</a></p>
        <p>Phase {{ obj.phase }}</p>
        <p>Participants {% for participant in obj.participants.all %}
            {{ participant.get_full_name }}
        {% endfor %}</p>
        <p>Affiliation {{ obj.affiliation.name }}</p>
        <p>Start Date {{ obj.start_date }}</p>
        <p>End Date {{ obj.end_date }}</p>
        <p>Description {{ obj.description }}</p>
        <p><a href="{% url 'clinical_trial_update' pk=obj.pk %}">Update</a></p>
        <p><a href="{% url 'clinical_trial_delete' pk=obj.pk %}">Delete</a></p>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
  </section><!-- End Services Section -->
    <div>
        <span>
            {% if page_obj.has_previous%}
                <a href="?page=1">&laquo; first</a>
                <a href="page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.has_previous }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}