{% extends 'base.html' %}
{% block title %}Affiliated Clinical Trials List{% endblock %}
{% block additional_buttons %}<li><a href="{% url 'clinical_trial_creation' %}">Create Clinical Trial</a></li>{% endblock %}
{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Affiliated Clinical Trials</h2>
        <p>All the Clinical Trials affiliated with your affiliated Institution.</p>
      </div>

      <div class="row">
        {% for obj in page_obj %}
        <div class="col-6 col-md-4 card">
            <div class="card-body">
                <div class="col-10">
                    <p>Title: <a href="{% url 'clinical_trial_details' pk=obj.pk %}" class="btn btn-outline-info">{{ obj.title }}</a></p>
                    <p>Drug: <a href="{% url 'drug_details' pk=obj.drug.pk %}" class="btn btn-outline-info">{{ obj.drug.proprietary_name }}</a></p>
                    <p>Phase: {{ obj.phase }}</p>
                    <p>Participants: {% for participant in obj.participants.all %}
                        {{ participant.get_full_name }}
                    {% endfor %}</p>
                    <p>Affiliation: {{ obj.affiliation.name }}</p>
                    <p>Start Date: {{ obj.start_date }}</p>
                    <p>End Date: {{ obj.end_date }}</p>
                    <p>Description: {{ obj.description }}</p>
                    <p><a href="{% url 'clinical_trial_update' pk=obj.pk %}" class="btn btn-outline-primary">Update</a></p>
                    <p><a href="{% url 'clinical_trial_delete' pk=obj.pk %}" class="btn btn-outline-danger">Delete</a></p>
            </div>
        </div>
        </div>
    {% endfor %}
        </div>

    </div>
  </section><!-- End Services Section -->
    <div class="pagination justify-content-center mt-4 mb-2">
        <span>
            {% if page_obj.has_previous%}
                <a href="?page=1">&laquo; first</a>
                <a href="page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.has_previous }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}