{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>
    <div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        
        {% if logged %}
          <li><a href="{% url 'affiliated_drugs_list' %}">Affiliation Drugs</a></li>
          <li><a href="{% url 'affiliated_clinical_trials_list' %}">Affiliated Clinical Trials List</a></li>
          <li><a href="{% url 'affiliated_publications_list' %}">Affiliated Publications List</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
        {% block additional_buttons %}{% endblock %}
      </ul>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
