{% extends 'base.html' %}
{% block title %}Affiliated Drugs List{% endblock %}
{% block additional_buttons %}
    <li><a href="{% url 'drug_creation' %}">Register a drug</a></li>
{% endblock %}
{% block content %}
    {% for obj in page_obj %}
        <p>Proprietary name: {{ obj.proprietary_name }}</p>
        <p>INN: {{ obj.international_non_proprietary_name }}</p>
        <p>Affiliated_institution: {{ obj.affiliated_institution }}</p>
        <p>Drug type: {{ obj.drug_type }}</p>
        <p>Development status: {{ obj.development_status }}</p>
        <p>Description: {{ obj.description }}</p>
        <p><a href="{% url 'drug_update' pk=obj.pk %}">Update Drug</a></p>
        <p><a href="{% url 'drug_delete' pk=obj.pk %}">Delete Drug</a></p>
    {% endfor %}
    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}