{% extends 'base.html' %}
{% block title %}{{ drug.proprietary_name }}{% endblock %}
{% block additional_buttons %}
    <li><a href="{% url 'drug_creation' %}">Register a drug</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 m-5">
        <div class="card">
        <div class="card-body">
    <p>Proprietary name: {{ drug.proprietary_name }}</p>
    <p>INN: {{ drug.international_non_proprietary_name }}</p>
    <p>Affiliated_institution: {{ drug.affiliated_institution }}</p>
    <p>Drug type: {{ drug.drug_type }}</p>
    <p>Development status: {{ drug.development_status }}</p>
    <p>Description: {{ drug.description }}</p>
    {% if has_rights %}
        <p><a href="{% url 'drug_update' pk=drug.pk %}" class="btn btn-outline-primary">Update Drug</a></p>
        <p><a href="{% url 'drug_delete' pk=drug.pk %}" class="btn btn-outline-danger">Delete Drug</a></p>
    {% endif %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}