{% extends 'base.html' %}
{% block title %}Publication Creation{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      
      <div class="col-lg-6 mt-5">
          <div class="card-body">
            <form action="{% url 'publication_creation' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Create Publication</button>
            </form>
      </div>
  </div>
  </div>
</div>
    
{% endblock %}